<!DOCTYPE html>
<html lang="en">

<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="../static/css/style.css"/>

		<!-- accordian extension with auto scroll turned on -->
		<!-- <link rel="stylesheet" href="../static/css/bulma-accordian-autoscroll-min.css"> -->
		<!-- standard accordian extension -->
		<link rel="stylesheet" href="../static/css/bulma-accordian-noscroll.css">

		<!-- Site related -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css">
		<link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-tooltip">
<head>
    <meta charset="UTF-8">
    <title>This Checklist</title>
</head>
<body>
<div class="tabs">
  <ul>
    <li class="is-active"><a>Completion</a></li>
    <li><a>Panel</a></li>
      <form method="POST" id="mylist" action="/">
        <label class="checkbox">
            <input type="checkbox" id="thislist" name="test" value="cab-24v">
            I agree to the <a href="#">terms and conditions</a>
        </label>
        <!--
        <input type="checkbox" id="thislist" name="test" value="cab-24v">
        <label for="vehicle1"> Cabinet 24v Bus Verified</label><br>
        <input type="checkbox" id="thislist" name="test" value="cab-0v">
        <label for="vehicle2"> Cabinet 0v Bus Verified</label><br>
        <input type="checkbox" id="thislist" name="test" value="jumpers">
        <label for="vehicle3"> Cabinet Jumpers Verified</label><br>
        -->
        <input type="submit">
    </form>
    <li><a>Instumenation</a></li>
    <li><a>Documentation</a></li>
  </ul>
</div>
    <!--
    <form method="POST" id="mylist" action="/">
        <label class="checkbox">
            <input type="checkbox" id="thislist" name="test" value="cab-24v">
            I agree to the <a href="#">terms and conditions</a>
        </label>
        -->
        <!--
        <input type="checkbox" id="thislist" name="test" value="cab-24v">
        <label for="vehicle1"> Cabinet 24v Bus Verified</label><br>
        <input type="checkbox" id="thislist" name="test" value="cab-0v">
        <label for="vehicle2"> Cabinet 0v Bus Verified</label><br>
        <input type="checkbox" id="thislist" name="test" value="jumpers">
        <label for="vehicle3"> Cabinet Jumpers Verified</label><br>
        -->
        <!--
        <input type="submit">
    </form>
    -->
</body>
</html>